
<p>
  Yeah! Voici un formulaire de contact. Si par miracle vous avez &eacute;t&eacute; impression&eacute; par mes prestations, appelle-moi sur mon minitel boy! Check l&agrave;!
</p>

<p>Voici des toasts (ca a pas l'air comme ca, mais c'est la croix et la banni&egrave;re pour en arriver l&agrave;...)</p>


<button (click)="showInfo();">Show me some info!!!</button>
<button (click)="showError();">Show me an error!</button>
<button (click)="showSuccess();">Show me something that works!</button>
<button (click)="showWarning();">showWarning!</button>
<button (click)="showCustom();">showCustom!</button>