<!--<link href="node_modules/ng2-toastr/bundles/ng2-toastr.min.css" rel="stylesheet" />-->

<!--<app-landing-page></app-landing-page>-->
<div class="banner">
	<div class="innerBannerTable">
		<nav class="bannerCategory">
			<a routerLink="/">Home</a>
		</nav>
		<nav class="bannerCategory">
			<a routerLink="/about">A propos de moi</a>
		</nav>
		<nav class="bannerCategory">
			<a routerLink="/portfolio">Portfolio</a>
		</nav>
		<nav class="bannerCategory">
			<a routerLink="/contact">Contact</a>
		</nav>
		<nav class="bannerCategory">
			<a routerLink="/my-non-existing-skills">Choses qui n'existent pas</a>
		</nav>
	</div>
</div>
<router-outlet></router-outlet>